[req]
distinguished_name = req_distinguished_name
prompt = no
x509_extensions = v3_req
[req_distinguished_name]
C = IR
ST = VA
L = Tehran
O = Organization or company name
OU = Develop
CN = www.YOURDOMAIN.ir
[v3_req]
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
basicConstraints        = critical,CA:true,pathlen:0
extendedKeyUsage        = clientAuth,serverAuth
keyUsage                = critical,digitalSignature,nonRepudiation,keyEncipherment,dataEncipherment
subjectKeyIdentifier    = hash
[alt_names]
DNS.1 = www.YOURDOMAIN.ir
DNS.2 = company.com
DNS.3 = company.net


